<!-- ========== HEADER SECTION ========== -->
<div id="headerwrap" class="heyworld container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="align-block">
        <h1>Hey World!</h1>
        <h2>Your world await. Say "Hey" to the world.</h2>
        <!-- Indicates a successful or positive action -->
        <button type="button" class="btn btn-success">Start your journey now!</button>
      </div><!-- /container -->
    </div>
  </div>
</div>
