<!-- ========== HEADER SECTION ========== -->
<section id="home" name="home"></section>
<div id="headerwrap">
    <div class="align-block">
        <h1>Hey World!</h1>
        <h2>Your world await. Say "Hey" to the world.</h2>
        <!-- Indicates a successful or positive action -->
        <button type="button" class="btn btn-success">Start your journey now!</button>
    </div><!-- /container -->
</div><!-- /headerwrap -->
