// Place all the styles related to the destination controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'mixin';

#headerwrap {
  background-image: url(destination-top.jpg);
  min-height: 300px;
  padding-bottom:20px;
  h1 {
    font-size:2em;
    text-shadow: 0 0 5px #000;
  }
  .align-block {
      background: rgba(0,0,0,0.8);
      position: relative;
      .input-group {
        .form-control {
          font-size: 0.8em;
          height: auto;
        }
        .input-group-addon {
          background: #FFF;
          font-size: 0.8em;
        }
      }
  }
}
#dest {
  border:none;
  padding:10px 44px 10px 20px;
  background:#FFF;
}
.dest-inner {
  background-color: #333;
  background-position: center;
  position: relative;
  height:260px;
  padding:30px 20px;
  text-align:center;
  @include background-size(cover);
  @include border-radius(4px);
  .dest-title {
    text-shadow: 0 0 5px rgba(0,0,0,0.7);
    color:#FFF;
    font-size:0.8em;
  }
  .btn-rating {
    background:rgba(0,0,0,0);
    font-size: 0.5em;
    padding: 0 14px;
    height:32px;
    color: rgba(255,255,255,0.85);
    border: 1px solid rgba(255,255,255,0.5);
    @include border-radius(999em);
  }
}

