/*
 * Author: Menghong Li
 * URL: http://menghongli.me
 *
 * Project Name: Hey world
 * Version: 1.0
 * URL: http://heyworld.io
 */

@import 'mixin';

html, body {
    height:100%;
    overflow-x:hidden;
    font-size: 30px;
}
.heyworld {
  position: relative;
  margin-bottom: 20px;
  &.container {
    min-width: 100%;
    display:table;
    width: 100%;
    & > .row {
      display: block;
      margin:0;
    }
  }
}

#headerwrap {
	background-image: url(header-bg.JPG);
	background-attachment: relative;
	background-position: center;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
  background-repeat: none;
	min-height: 100%;
  left: 0;
  @include background-size(cover);
  h1 {
      color: white;
      font-size: 3em;
      font-weight: 700;
      letter-spacing: 3px;
  }
  h2 {
      color: white;
      font-size: 1em;
      font-weight: 50;
      letter-spacing: 1px;
  }
  .align-block {
      background: rgba(0,0,0,0.5);
      margin: auto;
      padding:20px;
  }
  .body-push-toright & {
      left: 200px;
  }
  &.container {
    display:table;
    .row {
      display: table-cell;
      vertical-align:middle;
    }
  }
}

/* MENU CONF*/

.menu {
	position: fixed;
	left: -200px;
	width: 200px;
	height: 100%;
	top: 0;
	z-index: 10;
	text-align: left;
    a {
        margin-left: 20px;
        color: #808080;
        display: block;
        font-size: 0.4em;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        &:hover, &:active {
            color: #ffffff;
            text-decoration: none;
        }
        & > i {
            width: 25px;
            font-size: 1em;
            line-height: 40px;
        }
    }
    &.menu-open {
        left: 0px;
    }
}

.menu-wrap {
	position: absolute;
	top: 0;
	left: 0px;
	background: #1a1a1a;
	width: 200px;
	height: 100%;
}




.menu, .heyworld {
    @include transition(.3s, ease);
}

#menuToggle {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 11;
	display: block;
	text-align: center;
	font-size: 0.5em;
	color: #ffffff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	background: rgba(0,0,0,0.8);
    opacity: 1;
    @include transition(.3s, ease-in-out);
    &.active {
        display: none;
    }
    &:hover {
        color: #ffffff;
        background: rgba(0,0,0,0.45);
    }
}

.site-nav-list {
    margin: 0;
    padding:0;
    li {
        margin:0;
        padding: 0;
        list-style-type: none;
        position: relative;
    }
    .list-home {
        margin-top:10px;
    }
    .site-nav-list-item-secondary {
        position: absolute;
        right:0;
        top:0;
        margin: 0;
        & .hidden-text {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
    }
}
