/*
 * Author: Menghong Li
 * URL: http://menghongli.me
 *
 * Project Name: Hey world
 * Version: 1.0
 * URL: http://heyworld.io
 */

html, body {
    height:100%;
    overflow-x:hidden;
}

#headerwrap {
	background: url(header-bg.JPG);
	padding-top:20px;
	text-align:center;
	background-attachment: relative;
	background-position: center;
    background-repeat: none;
	min-height: 100%;
    min-width: 100%;
    width: 100%;
    left: 0;
    position: relative;
	
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	color: white;
	font-size: 100px;
	font-weight: 700;
	letter-spacing: 3px;
}

#headerwrap h2 {
	color: white;
	font-size: 30px;
	font-weight: 50;
	letter-spacing: 1px;
}

#headerwrap .align-block {
	background: rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin: auto;
    width:80%;
    height:250px;
}

/* MENU CONF*/

.menu {
	position: fixed;
	left: -200px;
	width: 200px;
	height: 100%;
	top: 0;
	z-index: 10;
	text-align: left;
}

.menu.menu-open {
	left: 0px;
}

#menuToggle.active {
    display: none;
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		 -o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
}
.menu-wrap {
	position: absolute;
	top: 0;
	left: 0px;
	background: #1a1a1a;
	width: 200px;
	height: 100%;
}

.menu a {
	margin-left: 20px;
	color: #808080;
	display: block;
	font-size: 12px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.menu a:hover {
	color: #ffffff;
    text-decoration: none;
}

.menu a:active {
	color: #ffffff;
}

.menu a > i {
	width: 25px;
	font-size: 14px;
	line-height: 40px;
}

/* Push the body after clicking the menu button */

.body-push-toright #headerwrap {
	left: 200px;
}


.menu, #headerwrap {
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		 -o-transition: all .3s ease;
			transition: all .3s ease;
}

#menuToggle {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 11;
	display: block;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	background: rgba(0,0,0,0.5);
    opacity: 1;
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		 -o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
}

#menuToggle:hover {
	color: #ffffff;
	background: rgba(0,0,0,0.45);
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		 -o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
}

.site-nav-list {
    margin: 0;
    padding:0;
}

.site-nav-list li{
    margin:0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

.site-nav-list .list-home {
    margin-top:10px;
}

.site-nav-list .site-nav-list-item-secondary {
    position: absolute;
    right:0;
    top:0;
    margin: 0;
}

.site-nav-list .site-nav-list-item-secondary > i {
    margin: 0;
}

.site-nav-list .site-nav-list-item-secondary .hidden-text {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
